@font-face {
  font-family: "Exo";
  src: url("fonts/exo-regular-webfont.woff2") format("woff2"),
    url("fonts/exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

label {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */

body {
  font-family: "Exo", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #131010;
  color: #fff0dc;
  height: 5rem;
  font-size: 2rem;
}

.reset {
  display: flex;
  gap: 1rem;
}

.reset svg {
  height: 2rem;
  fill: #fff0dc;
  transition: 0.8s;
  cursor: pointer;
}

.reset svg:active {
  rotate: 180deg;
  transition: 0.2s;
}

main {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  background-color: #fff0dc;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  height: 30vh;
  width: 30vh;
}

.board button {
  font-size: 3rem;
  height: calc(30vh / 3);
  background-color: #f0bb78;
  border: none;
  color: #131010;
  cursor: pointer;
}

.result-container,
.round-score {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.result-container > *,
.round-score > * {
  display: grid;
  place-content: center;
  text-align: center;
  background-color: #543a14;
  border-radius: 20px;
  height: 4.5rem;
  color: #f3f3f4;
}

.score {
  font-weight: 700;
  font-size: 1.5rem;
}

dialog {
  background-color: #d9c5b2;
  border: 2px solid #131010;
  border-radius: 10px;
  outline: none;
  width: 40vh;
  height: 35vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog #closeDialog {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #14110f;
}

dialog > form {
  display: grid;
  place-content: space-around center;
  height: 100%;
}

form label {
  font-weight: 700;
  color: #14110f;
}

form input {
  appearance: none;
  border: 1px solid #14110f;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #f3f3f4;
}

form input:focus {
  outline: none;
  border: 2px solid #14110f;
}

form button {
  background-color: #14110f;
  color: #f3f3f4;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form button:active {
  background-color: #d9c5b2;
  color: #14110f;
}

.blur {
  filter: blur(5px);
}
