:root {
  --black: #131010;
  --brown: #543a14;
  --khaki: #f0bb78;
  --cream: #fff0dc;
  --nav-bg: var(--black);
  --nav-clr: var(--cream);
  --nav-height: 5rem;
  --main-bg: var(--cream);
  --main-height: calc(100vh - var(--nav-height));
  --board-height: 30vh;
  --board-width: 30vh;
  --board-cell-bg: var(--khaki);
  --board-cell-clr: var(--black);
  --result-round-bg: var(--brown);
  --result-round-clr: var(--cream);
  --dialog-bg: var(--khaki);
  --dialog-border-clr: var(--black);
  --dialog-height: 35vh;
  --dialog-width: 40vh;
  --close-dialog-clr: var(--black);
  --form-label-clr: var(--black);
  --form-input-border-clr: var(--black);
  --form-input-bg: var(--cream);
  --form-submit-btn-bg: var(--black);
  --form-submit-btn-clr: var(--cream);
  --form-submit-btn-active-bg: var(--khaki);
  --form-submit-btn-active-clr: var(--black);
}

@font-face {
  font-family: "Exo";
  src: url("fonts/exo-regular-webfont.woff2") format("woff2"),
    url("fonts/exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

label {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */

body {
  font-family: "Exo", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav-bg);
  color: var(--nav-clr);
  height: var(--nav-height);
  font-size: 2rem;
}

.reset {
  display: flex;
  gap: 1rem;
}

.reset svg {
  height: 2rem;
  fill: var(--nav-clr);
  transition: 0.8s;
  cursor: pointer;
}

.reset svg:active {
  rotate: 180deg;
  transition: 0.2s;
}

main {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  min-height: var(--main-height);
  background-color: var(--main-bg);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  height: var(--board-height);
  width: var(--board-width);
}

.board button {
  font-size: 3rem;
  height: calc(--board-height / 3);
  background-color: var(--board-cell-bg);
  border: none;
  color: var(--board-cell-clr);
  cursor: pointer;
}

.result-container,
.round-score {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.result-container > *,
.round-score > * {
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--result-round-bg);
  border-radius: 20px;
  height: 4.5rem;
  color: var(--result-round-clr);
}

.score {
  font-weight: 700;
  font-size: 1.5rem;
}

dialog {
  background-color: var(--dialog-bg);
  border: 2px solid var(--dialog-border-clr);
  border-radius: 10px;
  outline: none;
  width: 40vh;
  height: 35vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog #closeDialog {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: var(--close-dialog-clr);
}

dialog > form {
  display: grid;
  place-content: space-around center;
  height: 100%;
}

form label {
  font-weight: 700;
  color: var(--form-label-clr);
}

form input {
  appearance: none;
  border: 1px solid var(--form-input-border-clr);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--form-input-bg);
}

form input:focus {
  outline: none;
  border: 1px solid var(--form-input-border-clr);
}

form button {
  background-color: var(--form-submit-btn-bg);
  color: var(--form-submit-btn-clr);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form button:active {
  background-color: var(--form-submit-btn-active-bg);
  color: var(--form-submit-btn-active-clr);
}

.blur {
  filter: blur(5px);
}
