@font-face {
  font-family: "Exo";
  src: url("fonts/exo-regular-webfont.woff2") format("woff2"),
    url("fonts/exo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* END OF CSS RESET */

body {
  font-family: "Exo", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #14110f;
  color: #f3f3f4;
  height: 5rem;
  font-size: 2rem;
}

.reset svg {
  height: 2rem;
  fill: #f3f3f4;
  transition: 0.8s;
  cursor: pointer;
}

.reset svg:active {
  rotate: 180deg;
  transition: 0.2s;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 5rem);
  background-color: #d9c5b2;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f3f3f4;
  height: 40vh;
  width: 40vh;
}

.board button {
  font-size: 3rem;
  height: calc(40vh / 3);
  border: 1px solid #14110f;
  background-color: #f3f3f4;
  color: #14110f;
  cursor: pointer;
}
